<% include ../partials/header %>
<div class="container">
  <div class="row wrap card">
    <div id="balanceDiv">
      <h1>Balance: $<span id="balance"><%= total %></span></h1>
    </div>
    <h1>Add item to your <span id="month"><%= month %></span> budget</h1>
    <form class="form-group" action="/budget" method="POST">
      <input type="text" name="description" placeholder="Description">
      <input type="number" name="value" min="0.01" step="0.01" placeholder="Value">
      <select class="mg-b" name="type">
        <option value="expense">Expense</option>
        <option value="income">Income</option>
      </select>
      <select name="month">
        <option id="january" value="january">January</option>
        <option id="february" value="february">February</option>
        <option id="march" value="march">March</option>
        <option id="april" value="april">April</option>
        <option id="may" value="may">May</option>
        <option id="june" value="june">June</option>
        <option id="july" value="july">July</option>
        <option id="august" value="august">August</option>
        <option id="september" value="september">September</option>
        <option id="october" value="october">October</option>
        <option id="november" value="november">November</option>
        <option id="december" value="december">December</option>
      </select>
      <button class="btn" type="submit">Add</button>
    </form>
  </div>
  <div class="row wrap">
    <div class="large-6 small-12 columns incomes incomes-expenses">
      <div class="card table">
        <h1>Incomes</h1>
        <div class="small-12 table-header">
          <div class="small-12 large-4 columns table-desc">Description</div>
          <div class="small-12 large-4 columns table-val">Value</div>
          <div class="small-12 large-4 columns table-val">Delete/Edit</div>
        </div>
        <div class="small-12 table">
          <% if (budget) { %>
              <% for (income of budget.incomes) { %>
                <% if (income.description) { %>
                  <div class="small-12 large-4 columns table-desc table-pad budget-row"><%= income.description %></div>
                  <div class="small-12 large-4 columns table-val table-pad budget-row">$<%= income.value.toFixed(2) %></div>
                  <div class="small-12 large-4 columns table-edit-delete table-pad budget-row">
                    <form class="small-6 columns form-delete" action="/budget/<%= budget._id %>/incomes/<%= income._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="i-remove"></button>
                    </form>
                    <div class="small-6 columns edit">
                      <a href="/budget/<%= budget._id %>/incomes/<%= income._id %>/edit"><i class="i-edit"></i></a>
                    </div>
                </div>
                <% } %>
              <% } %>
            <% } %>
        </div>
      </div>
    </div>
    <div class="large-6 small-12 columns expenses incomes-expenses">
      <div class="card table">
        <h1>Expenses</h1>
        <div class="small-12 table-header">
          <div class="small-12 large-4 columns table-desc">Description</div>
          <div class="small-12 large-4 columns table-val">Value</div>
          <div class="small-12 large-4 columns table-val">Delete/Edit</div>
        </div>
        <div class="small-12 table">
          <% if (budget) { %>
            <% for (expense of budget.expenses) { %>
              <% if (expense.description) { %>
                <div class="small-12 large-4 columns table-desc table-pad budget-row"><%= expense.description %></div>
                <div class="small-12 large-4 columns table-val table-pad budget-row">$<%= expense.value.toFixed(2) %></div>
                <div class="small-12 large-4 columns table-edit-delete table-pad budget-row">
                  <form class="small-6 columns form-delete" action="/budget/<%= budget._id %>/expenses/<%= expense._id %>?_method=DELETE" method="POST">
                    <button type="submit" class="i-remove"></button>
                  </form>
                  <div class="small-6 columns edit">
                    <a href="/budget/<%= budget._id %>/expenses/<%= expense._id %>/edit"><i class="i-edit"></i></a>
                  </div>
                </div>
              <% } %>
            <% } %>
          <% } %> 
        </div>
      </div>
    </div>
  </div>
</div>
<% include ../partials/footer %>